body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-image: url('./img/bg_image.jpg');
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.navLink {
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}

.navLink:not(:last-child) {
  margin-right: 40px;
}

.navLink--active {
  color: rgb(69, 108, 194);
  font-weight: 700;
}
